@using QwestRooms.UI.Models

@model IndexViewModel

@{
    ViewBag.Title = "Page";
}


<a class="btn btn-primary" data-toggle="collapse" href="#Filter" role="button" aria-expanded="false" aria-controls="Filter">Filter</a>
<div class="collapse multi-collapse" id="Filter">
    <div class="card card-body">
        <div class="row">
            <div class="col border border-success">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"><span class="checkbox-decorator"><span class="check"></span></span> Adress
                    </label>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Country
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        City
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Home
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>
<div id="result">

    <div id="rooms">

      @{ 
          Html.RenderPartial("RoomsCollectionView", Model.Rooms);
      }
    </div>
    <nav style="clear:left" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <li class="page-item">
                    <a href="@Url.Action("Index",new { page = Model.PageViewModel.PageNumber - 1})"
                       class="page-link">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a asp-action="Index" class="page-link">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                    </a>
                </li>
            }
            @for (int i = 1; i < Model.PageViewModel.TotalPages; i++)
            {
                if (i == Model.PageViewModel.PageNumber)
                {
                    <li class="page-item disabled"><a class="page-link">@i</a></li>
                }
                else
                {
                    <li class="page-item">
                        @Ajax.ActionLink(i.ToString(), "GetRoomsByPage",new { page = i}, new AjaxOptions {UpdateTargetId = "rooms" })
                         @*<a href="@Url.Action("Index",new { page = i})" class="page-link">@i</a>*@
                    </li>

                }
            }
            @if (Model.PageViewModel.HasNextPage)
            {
                <li class="page-item">
                    <a href="@Url.Action("Index",new { page = Model.PageViewModel.PageNumber + 1})"
                       class="page-link">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link">
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>

